/* tag generali */

*{
    margin: 0px;
}

/* tag header */

header{
    background-color: rgb(0, 110, 255);
    position: relative;
    width: 100%;
}

.sfondo{
    background-repeat: repeat;
    width: 20%;

}

#logo{
    position: absolute;
    width: 15%;
    left: 0%;
    bottom: 0%;

}

/* tag main*/




/* tag footer */